body{
    background-image:url('../img/fondo.webp');
}

table {
    border: 2px solid #f7db08f0;
    background-color: #f3eb13c8;
    -webkit-box-shadow: 15px 17px 7px -2px rgba(0,0,0,0.8);
    -moz-box-shadow: 15px 17px 7px -2px rgba(0,0,0,0.8);
    box-shadow: 15px 17px 7px -2px rgba(0,0,0,0.8);
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 8px 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

img {
    width: 100px;
    height: 100px;
}

label{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

input[type=submit] {
    background-color: #1C94C8;
    color: beige;
    padding: 4px 6px;
    margin: 0px 0px;
    border:solid;
    cursor:pointer;
    width: 20%;
}